<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Liquidacion</title>
    <script src="JS/calculations.js"></script>
</head>

<body>
    <div id="App">
        <h3 id="tit">Añadir Clientes a la Base de Datos</h3>

        <div id="datos">
            <h3></h3>
            
            <div id="datos_e">
                <h5 class="hor" id="tde">Datos del empleador</h5>
                <label>ID: </label>
                <input type="text" v-model="id"><br><br>

                <label> Año Liquidado: </label>
                <input type="number" onchange="calcularLiquidacion()" id="añoLiquidado" v-model="yearliquidado"> <br><br>

                <label>Nombre del Empleador: </label>
                <input type="text" v-model="nombreempleador"> <br><br>

                <label> NIT Empleador:</label>
                <input type="text" v-model="nitempleador"><br><br>
            </div>

            <div id="datos_t">
                <h5 class="hor" id="tdt">Datos del trabajor</h5>
                <label> Nombre del Trabajador: </label>
                <input type="text" v-model="nombretrabajador"><br><br>
        
                <label> Cédula del Trabajador:</label>
                <input type="text" v-model="cctrabajador"><br><br>
        
                <label> Ultimo Cargo:</label>
                <input type="text" v-model="ultimocargo"><br><br>
            </div>
        </div>

        <div id="detalles">
            <div id="contrato">
                <h1 class="hor" id="dct">Detalles del Contrato</h1>
                <h3>Contrato Término Indefinido</h3>
                <label> Seleccione: </label><br>
                <input type="radio" id="ctiSi" onclick="calcularLiquidacion()" name="CTI" v-model="contratoterminoindf" value="true"> Sí <br>
                <input type="radio" id="ctiNo" onclick="calcularLiquidacion()" name="CTI" v-model="contratoterminoindf" value="false"> No <br><br>

                <label> Meses del Contrato a Término Fijo</label>
                <input type="number" id="mesesContrato" v-model="mesescontratoterminofijo"><br><br>

                <label> Ultimo sueldo: </label>
                <input type="text" id="sueldo" onchange="calcularLiquidacion()" v-model="ultimosueldo"> <br><br>

                <h3>Auxilio de Transporte</h3><br>
                <input type="text" id="at" onchange="calcularLiquidacion()" v-model = "auxiliotransporte"> <br><br>

                <label>Fecha de ingreso: </label>
                <input type="date" id="fechaIng" onchange="calcularLiquidacion()" v-model="fechaingreso"><br><br>

                <label>Fecha de retiro: </label>
                <input type="date" id="fechaSal" onchange="calcularLiquidacion()" v-model="fecharetiro"><br><br>

                <h3>Despido injustificado</h3>
                <label> Seleccione: </label><br>
                <input type="radio" id="dsjcSi" name="despido" v-model="despidoinjustificado" value="true"> Sí <br>
                <input type="radio" id="dsjcNo" name="despido" v-model="despidoinjustificado" value="false"> No <br><br>
                
            </div>

            <div id="horario">
                <h3 class="hor">Horario de Trabajo</h3>
                <label> <h4> Hora de ingreso: </h4></label>
                <input type="time" id="horaIng" onchange="calcularLiquidacion()" v-model="horaingreso"><br><br>
        
                <label> <h4> Hora de Salida: </h4></label>
                <input type="time" id="horaSal" onchange="calcularLiquidacion()" v-model="horaretiro"><br><br>
        
                <label> Dias trabajados a la semana: </label>
                <input type="number" onchange="calcularLiquidacion()" id="dSemana" v-model="diassemana"><br><br>

                <h3>¿Trabaja domingos?</h3>
                <label> Seleccione: </label><br>
                <input type="radio" id="domingoSi" onclick="calcularLiquidacion()" name="domingos" v-model="trabajadomingos" value="true"> Sí <br>
                <input type="radio" id="domingoNo" onclick="calcularLiquidacion()" name="domingos" v-model="trabajadomingos" value="false"> No <br><br>
               
                <div id="variables ocultas">
                    <input type="hidden" id="diasLaboradosAño" v-model="diaslaborados" value =0>
                    <input type="hidden" id="valorHorasExtras" value =0>
                    <input type="hidden" id="valorDominical" value =0>
                    <input type="hidden" id="valorRecargoNocturno" value =0>
                    <input type="hidden" id="totalSalario" value =0>

                    <input type="hidden" id="cesantias" value =0>
                    <input type="hidden" id="interesesCesantias" value =0>
                    <input type="hidden" id="sancionNoConsignacion" value =0>
                    <input type="hidden" id="primaServicios" value =0>
                    <input type="hidden" id="vacaciones" value =0>
                    <input type="hidden" id="prestacionesSociales" value =0>
                    
                    <input type="hidden" id="indemnizacionDespidoCTI" value ="no procede">
                    <input type="hidden" id="indemnizacionDespidoCTF" value ="no procede">
                    <input type="hidden" id="totalIndemnizaciones" value=0>
                </div>

            </div>
            <button onclick="testRetornoCalculos()">AÑADIR TRABAJADOR</button>


</body>
</html>